* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #1C1C1D;
  min-height: 100%;
  color: #666;
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
}

.wrap {
  position: relative;
  height: 100%;
  min-height: 500px;
  padding: 20px;
  font-size: 18px;
  #timer{
    min-height: 30px;
  }
  #begin{
    cursor: pointer;
  }
}

.boardgame {
    transform-style: preserve-3d;
    min-height: 100%;
    height: 100%;
}

@keyframes matchAnim {
    0% {
        background: #bcffcc;
    }
    100% {
        background: white;
    }
}

.card {
    transform-style: preserve-3d;
    float: left;
    width: 128px;
    height: 128px;
    text-align: center;
    display: inline-block;
    perspective: 500px;
    position: relative;
    cursor: pointer;
    z-index: 50;
    &:nth-child(6n+7) {
        clear: both;
    }
    .inside {
        width: 100%;
        height: 100%;
        display: block;
        transform-style: preserve-3d;
        transition: .4s ease-in-out;
        background-color: #1C1C1D;
        &.picked {
            transform-style: preserve-3d;
            transform: rotateY(180deg);
        }
        &.matched {
            transform-style: preserve-3d;
            transform: rotateY(180deg);
            transform-style: preserve-3d;
            animation: 1s matchAnim ease-in-out;
            animation-delay: .4s;
        }
    }
    .front, .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .front img, .back img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        max-height: 100%;
    }
    .front {
        transform-style: preserve-3d;
        transform: rotateY(-180deg);
    }
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}